@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .label{
        @apply block mb-1 text-gray-500 dark:text-gray-300 font-medium;
    }

    .input{
        @apply block w-full p-2 rounded-md shadow-sm border border-gray-400 dark:border-gray-300 text-gray-500 dark:bg-gray-500 dark:text-gray-50 placeholder:dark:text-gray-200;
    }

    .input-disabled {
        @apply cursor-not-allowed opacity-50;
    }

    .btn-primary{
        @apply bg-indigo-500 dark:bg-indigo-600 hover:bg-indigo-400 dark:hover:bg-indigo-500 text-white font-medium p-2 rounded-md disabled:opacity-20 disabled:cursor-not-allowed;
    }

    .input-error{
        @apply text-sm text-red-500 dark:text-red-400;
    }

    .input-filter-l {
        @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-md rounded-b-md rounded-r-none text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800
    }
    
    .input-filter-r {
        @apply placeholder:text-gray-400 dark:placeholder:text-gray-600 border border-l-0 border-gray-200 dark:border-gray-700 rounded-t-md rounded-l-none rounded-b-none rounded-r-md text-sm font-medium text-gray-600 dark:text-gray-400 dark:bg-gray-800
    }

    .btn-normal {
        @apply bg-gray-600 hover:bg-gray-500 text-white font-medium p-2 rounded-md
    }

    .btn-outline{
        @apply p-2 rounded-md border shadow-sm border-gray-300 dark:border-gray-800 hover:border-gray-400 hover:bg-gray-50 dark:hover:border-gray-700 dark:hover:bg-gray-800;
    }

    .title{
        @apply my-2 text-3xl;
    }

    thead td{
        @apply font-medium dark:text-gray-400;
    }

    td{
        @apply text-left align-middle p-6 whitespace-nowrap border border-gray-300 max-w-xs overflow-hidden truncate;
    }

    .btn-action{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @apply btn-outline md:underline md:hover:text-gray-950 md:dark:hover:text-gray-500 md:border-0 md:bg-transparent md:p-0 md:hover:bg-transparent;
    }

    .btn-action[disabled="true"], 
    .btn-action[disabled]:not([disabled="false"]) {
        @apply cursor-not-allowed opacity-50;
    }

    @media(min-width: 768px){
        .btn-action[disabled="true"], 
        .btn-action[disabled]:not([disabled="false"]) {
            display: none;
        }

        .view-show .btn-action {
            display: block !important;
        }
    }

    .view-show .btn-action {
        display: block;
        @apply btn-outline no-underline;
    }

    .clear-btn{
        @apply hover:!bg-gray-200 dark:hover:!bg-gray-500;
    }

    .view-switch{
        @apply !bg-gray-300 dark:!bg-gray-700 dark:hover:!bg-gray-500 px-4 py-2 hover:bg-gray-200;
    }

    .prev-btn, .next-btn{
        @apply !bg-gray-300 dark:!bg-gray-700 dark:hover:!bg-gray-500 px-3 hover:bg-gray-200;
    }

    .datepicker-cell{
        @apply hover:!bg-gray-200 dark:hover:!bg-gray-500;
    }

    .today-btn{
        @apply mr-4 !bg-indigo-400 dark:!bg-indigo-600 hover:!bg-indigo-500;
    }

    .datepicker-picker.bg-white {
        @apply !bg-gray-300 dark:!bg-gray-700;
    }

    .datepicker-dropdown {
        @apply mt-2;
    }

    .focused{
        @apply bg-gray-100 !text-black dark:!text-white dark:!bg-gray-600;
    }

    .today{
        @apply !bg-indigo-400 dark:!bg-indigo-600 !text-white hover:!bg-indigo-500 dark:hover:!bg-indigo-500;
    }

    .focused.today {
        @apply !bg-indigo-500 dark:!bg-indigo-500 !text-white hover:!bg-indigo-400 dark:hover:!bg-indigo-600;
    }

    .filter-input{
        @apply input-filter-r rounded-md w-full placeholder:text-gray-800 text-gray-800 bg-gray-50 dark:bg-gray-600 border-gray-300 dark:border-gray-500 dark:placeholder:text-gray-400 dark:text-gray-400 font-normal text-sm;
    }

    .card {
        @apply bg-gray-100 shadow-sm rounded-md p-4 transition-all duration-200 ease-in-out dark:bg-gray-800;
      }
      
      .card:hover {
        @apply shadow-md;
      }
      
      .card h2 {
        @apply text-gray-400 dark:text-gray-500 text-sm font-medium mb-2;
      }
      
      .card .total {
        @apply text-3xl font-bold text-gray-800 dark:text-gray-400;
      }

    .filepond--credits{
        @apply !hidden;
      }
      
      .filepond--item {
          width: calc(20% - 0.5em);
      }
      
      .filepond--drop-label{
        @apply cursor-pointer dark:text-gray-300 text-gray-500;
      }
      
      .filepond--drop-label > label{
        @apply cursor-pointer text-sm;
      }
      
      .filepond--panel .filepond--panel-root{
        @apply dark:bg-gray-500 bg-gray-100;
      }
      
      .filepond--panel .filepond--panel-root{
        @apply border dark:border-gray-300 border-gray-300 bg-gray-200 dark:bg-gray-500;
      }
      
      .filepond--root{
        @apply mb-0;
      }
      
      .filepond--file-action-button{
        @apply cursor-pointer;
      }
      
      @media (max-width: 800px) {
          .filepond--item {
              width: calc(100% - 0.5rem);
          }
      }
      
      @media (max-width: 1000px) {
          .filepond--item {
              width: calc(33% - 0.5rem);
          }
      }

    /* Global scrollbar styles */
    ::-webkit-scrollbar-track {
        @apply dark:bg-gray-500 bg-gray-200;
    }

    ::-webkit-scrollbar {
        width: 6px; 
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-image: -webkit-gradient(linear,
                                            40% 0%,
                                            75% 84%,
                                            from(#818CF8), 
                                            to(#A5B4FC),
                                            color-stop(.6, #C7D2FE));
        @apply bg-indigo-300; 
    }

    @media (prefers-color-scheme: dark) {
        ::-webkit-scrollbar-thumb {
            background-image: -webkit-gradient(linear,
                                                40% 0%,
                                                75% 84%,
                                                from(#4338CA), 
                                                to(#6366F1),
                                                color-stop(.6, #818CF8));
            @apply bg-indigo-500; 
        }
    }
}